body {
    font-size: 22px;
    line-height: 34px;
}
main {
    background-image: url(./kartoshka.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 6px 8px black;
}
h1 {
    font-family: Arial;
    color: royalblue;
}
h2 {
    font-family: Arial;
}
header,
nav {
    background-color: #500073;
    color: white;
    letter-spacing: 1px;
}
a {
    font-variant: small-caps;
}
.aside_right {
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    color: white;
}
.header {
    margin-bottom: 0px;
}
.first {
    padding: 30px;
}
.second {
    padding-bottom: 30px;
}